
body {
    /*background-color:rgb(50,50,50);*/
    font-family: Open Sans, sans-serif;;
    color: rgb(0, 0, 0);
    font-family: noto-serif, Georgia, Verdana, Times, Times New Roman, Garamond, Palatino, serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
header{
    background-color:#163860;
    padding:10px;
    color:white;
    font-style: bold;
}
nav{
    /*background-color:rgb(0, 12, 140);*/
    float:left;
    width:15%;
    margin-left:5%;
    padding:10px;
}
section{
    /*background-color:rgb(14, 94, 0);*/
    float:left;
    width:60%;
}
aside{
    /*background-color:rgb(110, 0, 90);*/
    float:right;
    width:15%;
    margin-right:5%;
    padding:10px;
}
footer{
    background-color:rgb(0, 93, 110);
    clear:both;
    padding:10px;
    color:white;
    font-style: bold;
}
.img1{
    float:right;
    width:60%;
    height: 40%;
    margin: 10px;
    border-radius:5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
.img2{
    float:right;
    width:40%;
    height: 20%;
    margin: 10px;
    border-radius:5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
article{
    clear:both;
    padding:10px;
    border: 2px;
    border-color:black;
}