@font-face{
    font-family: 'Diploma';
    src: url('../style/diploma.ttf') format('woff2');
}
body {
    /*background-color:rgb(50,50,50);*/
    font-family: Open Sans, sans-serif;;
    color: rgb(0, 0, 0);
    font-family: noto-serif, Georgia, Verdana, Times, "Times New Roman", Garamond, Palatino, serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
header{
    background-color:#163860;
    color:white;
    font-style: bold;
    font-size: 14px;
    padding-bottom:4px;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
}
ul{
    margin-bottom: 9px;
    padding-left:0px;
}
#navbar{
    padding:10px;
    position: relative;
}
#research{
    margin-left:5%;
    width:15%;
    float: left;
}
#top-links{
    float: left;
    text-align: center;
    width:60%;
}
#login{
    text-align: right;
    width:15%;
    float: left;
}
#logo-section{
    padding:12px;
    clear: both;
    color:#163860;
    background-color: white;
    width: 100%;
    height: 80%;
}
#logo-container{
    text-align: center;
    background-color:white;
    float: left;
    width: 60%;
}
#left-logo{
    margin-top: 1%;
    margin-left:5%;
    width:15%;
    float: left;
    /*padding-top:1%;*/
}
#left-logo-image{
    width:130px;
    height:80px;
}
#right-logo{
    text-align: right;
    width:15%;
    float: left;
    padding-top:20px;
    /*padding-top:1%;*/
}
#logo{
    font-family: Diploma;
    font-size:70px;
    color:#163860;
    align-self: center;
    margin-bottom: 0px;
}
#bottom-logo-links{
    text-align: center;
    margin-top:20px;
    clear: both;
}
#bottom-logo-ul{
    text-align: bottom;
}
.blue-links{
    color: #163860;
}
nav{
    /*background-color:rgb(0, 12, 140);*/
    clear: both;
    float:left;
    width:15%;
    margin:10px;
    margin-left:8%;
    border:0px;
    border-right: 1px;
    border-style:solid;
    border-color:#ccc;
    padding: 10px;
}
section{
    /*background-color:rgb(14, 94, 0);*/
    float:left;
    width:50%;
}
aside{
    /*background-color:rgb(110, 0, 90);*/
    float:left;
    width:15%;
    margin-left:10px;
    padding: 15px;
    border:0px;
    border-left: 1px;
    border-style:solid;
    border-color:#ccc;
    font-size:12px;
}
#flash-scroll{
    overflow-y:scroll;
    height:300px;
}
footer{
    background-color:#163860;
    clear:both;
    padding:10px;
    color:white;
    font-style: bold;
}
.img1{
    float:right;
    width:60%;
    height: 40%;
    margin: 10px;
    border-radius:5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
.img2{
    float:right;
    width:40%;
    height: 20%;
    margin: 10px;
    border-radius:5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
.big-img-article{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius:5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
.huge-article{
    margin: 10%;
    margin-bottom:10px;
}
article{
    clear:both;
    padding:10px;
    border:0px;
    border-top: 1px;
    border-style:solid;
    border-color:#ccc;
    padding-top:20px;
}
#big-container{
    padding-top:2%;
}
#top-article{
    border-top:0px;
    padding-top:0px;
}
#audio{
    width:80%;
    margin: 10px;
    margin-top: 0px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
.below-audio{
    border-top:1px solid #ccc;
    margin: 10px;
    margin-top:5px;
    padding-top: 5px;
}
.img3{
    width: 100%;
    height: 100%;
    border-radius:5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.374));
}
.img3-container{
    /*text-align:center;*/
}
.nav-link{
    color: #163860;
}
.time{
    clear:both;
    float: left;
    width:20%;
    text-align: right;
    padding: 1%;
    margin: 1%;
}
.flash{
    float: left;
    width:60%;
    text-align: left;
    padding: 1%;
    margin: 1%;
    margin-left: 10%;
}
svg{
    color:white;
    fill:currentColor;
}
@media screen and (max-width: 1000px) {
    nav{
        display: none;
    }
    aside{
        display:none;
    }
    section{
        width: 100%;
    }
    #navbar{
        display: none;
    }
    #logo{
        font-family: Diploma;
        font-size:40px;
        color:#163860;
        align-self: center;
        margin-bottom: 0px;
    }
    #left-logo-image{
        display:none;
    }
    #right-logo{
        display:none;
    }
    #logo-section{
        padding:12px;
        clear: both;
        color:#163860;
        background-color: white;
        width: 100%;
        height: 100px;
    }
}